.amounts {
    text-align: center;
}
.amounts label {
    display: inline-block;
    min-width: 150px;
}

.totals {
    color: #080;
}

.ui-page { 
    background:#ffffff;
}

.ui-icon-i2se {
	width: 40px;
    height: 40px;
    background-image: url("i2se.png");
    box-shadow: none;
}

.ui-icon-reddot:after {
	background-image: url("reddot.png");
}

.ui-icon-yellowdot:after {
	background-image: url("yellowdot.png");
}

.ui-icon-greendot:after {
	background-image: url("greendot.png");
}